bin
.cache
.coverage*
develop-eggs/
dist
.DS_Store
*.egg
*.egg-info
.exclude-sync
htmlcov
include
.installed.cfg
lib
pyvenv.cfg
lib64
local
local
pip-selfcheck.json
*.pyc
.Python
report.xml
.ropeproject
share/python-wheels/
*.sublime-*
*.sw[po]
tags
.vagrant
